<div>
    hi!
</div>

<div>
<%# Fix this up well later.  %>
 <% @business.feedbacks.each do |feedback| %>
<%= link_to 'See this feedback!', business_feedback_path(@business, feedback), method: :get  %>
<% end %>
</div>